#navbar {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  padding-top: 2rem;

  .logo {
    margin: 0;
    padding: 0;
  }

  .nav-menu {
    li {
      display: inline-block;
      a {
        padding: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color: #5C5C5C;
        font-weight: bold;
        font-size: 1.4rem;
        letter-spacing: .15em;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}