#about {
  @extend .colorBar;
  @extend .sectionBackground;
  &::before {
    background-color: $blue;
    height: $navbarMobileHeight;
  }
  &::after {
    height: 30vh;
  }
}

//Tablet
@media all and (min-width: $brkTab) { 
  #about {
    &::before {
      height: $navbarDesktopHeight;
    }
    &::after {
      background-image: url('../images/ebenezerbaptistjc5.jpg');
      height: 70vh;
    }
    p {
      max-width: 1000px;
    }
  }
}