#about {
  @extend .parallax;
  @extend .parallaxGap;
  @extend .parallaxStripe;
  &::before {
    // background-color: $blue;
    // height: $navbarMobileHeight;
  }
  &::after {
    height: 50vh;
  }
}

//Tablet
@media all and (min-width: $brkTab) { 
  #about {
    &::before {
      background-image: url('../images/ebenezerbaptistjc5.jpg');
      // height: $navbarDesktopHeight;
    }
    &::after {
      height: 70vh;
    }
  }
}