#bulletin {
  @extend .colorBar;
  @extend .sectionBackground;
  &::before {
    background-color: $orange;
    height: $navbarMobileHeight;
  }
  &::after {
    height: 50vh;
  }
  .nav-icon {
    fill: $white;
  }
}

//Tablet
@media all and (min-width: $brkTab) { 
  #bulletin {
    &::before {
      height: $navbarDesktopHeight;
    }
    &::after {
      background-image: url('../images/ebenezerbaptistjc4.jpg');
      height: 70vh;
    }
  }
}