#contact {
  @extend .colorBar;
  &::before {
    background-color: $purple;
    z-index: 1;
    height: $navbarMobileHeight;
  }
  &::after {
    height: 30vh;
  }
}
.contact-map {
  @extend .responsiveEmbed;
  padding-top: 50%;
}

//Tablet
@media all and (min-width: $brkTab) { 
  #contact {
    &::before {
      height: $navbarDesktopHeight;
    }
    &::after {
      height: 70vh;
    }
  }
  .contact-map {
    padding-top: 30%;
  }
}