#home {
  background-color: transparent;
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/ebenezerbaptistjc.jpg');
    z-index: -1;
  }
  .splash-box {
    position: relative;
    height: 100vh;
    .splash-verse {
      position: absolute;
      bottom: 4rem;
      width: 100%;
      .verse {
        blockquote {
          @extend .headlineTypography;
          font-weight: 700;
          font-style: italic;
          color: $white;
          text-align: center;
          font-size: 3rem;
          letter-spacing: .1em;
          text-shadow: 2px 2px $black;
          margin: 1rem 0;
        }
        figcaption {
          text-align: right;
          font-size: 1.1rem;
        }
        color: $white;
      }
    }
  }
}

//Tablet
@media all and (min-width: $brkTab) { 
  #home {
    .splash-box {
      .splash-verse {
        /* right: 10%;
        bottom: 100px;
        width: 50%; */
        .verse {
          blockquote {
            /* font-size: 4.6rem; */
          }
          figcaption {
            /* font-size: 1.3rem; */
          }
        }
      }
    }
  }
}