//Breakpoints
$brkMdPhone: 376px;
$brkLgPhone: 575px;
$brkTab: 855px;
$brkMdDesk: 1024px;
$brkLgDesk: 1400px;

// Colors
$black: #2F3336;
$darkGray: #68737A;
$lightGray: #A7C1D1;
$blue: #7CA4C2;
$green: #7DB57F;
$orange: #EBA878;
$purple: #8A91CF;
$white: #FAFDFF;

// Nav 
$navbarMobileHeight: 147px;
$navbarDesktopHeight: 100px;